/*investigar:
focus, active*/
* {
    margin: 0;
    padding: 0;
}
/*con el selector '*' le estamos diciendo que lo aplique global */
.container {
    position:relative;
    /*el 100vw se refiere a toda la pantalla*/
    width: 100vw;
    height: 100vh;
    background: #F3F5FC;
}
.logo{
    position: absolute;
    display: flex;
    left: 4%;
    top:5%
}
.text {
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border:none;
    /*el tipo de fuente*/
    font-family:'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 150%;
    background-color: #F3F5FC;
    color:#0A3871;
    resize: none;
}
/*se usa los dos puntos para acceder a las propiedades*/
.text::placeholder {
    color:#0A3871;
    opacity: 90%;
}
.text:focus,
.text:active {
    border: none;
    outline: none;
}
.text::-webkit-scrollbar,
.message::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

.text::-webkit-scrollbar-thumb,
.message::-webkit-scrollbar-thumb {
    background-color: #495057 ;
    border-radius: 5px;
}

.text::-webkit-scrollbar-thumb:hover,
.message::-webkit-scrollbar-thumb:hover {
    background-color: #0A3871;
}
.terms{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0;
    gap: 8px;
    position: absolute;
    width: 80%;
    left:12%;
    top:80%;
}
.terms p{
    font-family: 'inter';
    font-weight: 400;
    font-size: 0.88em;
    line-height: 150%;
    color:#495057;
    opacity: 0.8;
    flex:none;
    order: 1;
    flex-grow: 0;
}
.buttons{
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}
.encrypt-button{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #0A3871;
    color:#FFFFFF;
    border-radius: 24px;
    font-family: 'inter';
    font-size: 1.125em;
    line-height: 19px;
    text-align: center;
    margin-right: 1%;
}
.decrypt-button{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0a3871;
    margin-left: 1%;
}
.encrypt-button:hover,
.decrypt-button:hover {
    margin:0.3%;
    width: 24.5%;
    padding: 1.8%;
}
.show-message{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background-color: white;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.doll {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}
.message-to-show{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16;
    position: absolute;
    width: 100%;
    top:65%;
    text-align: center;
}
.message-to-show h2{
    width: 60%;
    font-family: 'inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}
.message-to-show p{
    width: 80%;
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 150%;
    text-align: center;
    color: #495057;
}
.message {
    display: none;
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
    resize: none;
    border:none;
    font-family:'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 150%;
    background-color: white;
    color:#0A3871;
}
.message:focus,
.message:active { 
    border: none;
    outline: none;
}
.copy{
    position: absolute;
    bottom: 5%;
    width: 30%;
    line-height: 17px;
    align-items: center;
    height: 3em;
    padding: 2%;
    border-radius: 24px;
    background-color: #0A3871;
    color:#FFFFFF;
    font-family: 'inter';
    font-size: 1.125em;
    display: none;
}


/*responsive design*/
@media (max-width:57.5em){
    .container {
        display: flex;
        flex-direction: row;
    }
    .encrypt{
        width: 100%;
    }
    .logo{
        top: 1%;
        left: 49.6%;
    }
    .text{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 10%;
    }
    .terms{
        width: 80%;
        left: 10%;
        top: 72%;
    }
    .terms p{
        font-size: 1em;
    }
    .buttons{
        width: 80%;
        left: 10%;
        top: 75%;
    }
    .encrypt-button,
    .decrypt-button{
        width: 48%;
        border-radius: 16px;
    }
    .decrypt-button:hover,
    .encrypt-button:hover{
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }
    .show-message{
        width: 80%;
        height: 25%;
        left:10%;
        top: 85%;
        
    }
    .doll{
        top:0;
        display: none;
        visibility: hidden;
    }
    .message-to-show{
        width: 100%;
        top: 5%;
    }
    .message{
        width: 80%;
        top:5%;
        height: 60%;
    }
    .copy{
        bottom: 2%;
        border-radius: 20px;
        font-size: 1em;
        line-height: 8px;
        padding: 0.5%;
    }
   
}
